<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./templates/header.ejs')%>
        



  

  
    <center>
      <br>
      <div class="card border-success" style="width: 48rem;">
        <div class="card-body">
          <h5 class="card-title">Agregar zapatos</h5>
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label">Marca</label>
              <input type="text" class="form-control" id="validationCustom01" required>
              <div class="invalid-feedback">
                Por favor, ingrese una marca.
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputModelo" class="form-label">Modelo</label>
              <input type="text" class="form-control" id="inputModelo" required>
              <div class="invalid-feedback">
                Por favor, ingrese un modelo.
              </div>
            </div>
            <div class="col-6">
              <label for="inputColor" class="form-label">Color</label>
              <input type="text" class="form-control" id="inputColor" placeholder="Ingrese el color principal" required>
              <div class="invalid-feedback">
                Por favor, ingrese un color.
              </div>
            </div>
            <div class="col-6">
              <label for="inputTalla" class="form-label">Talla</label>
              <input type="text" class="form-control" id="inputTalla" placeholder="Unidades en US" required>
              <div class="invalid-feedback">
                Por favor, ingrese una talla.
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputPrecio" class="form-label">Precio</label>
              <input type="text" class="form-control" id="inputPrecio" placeholder="USD $" required>
              <div class="invalid-feedback">
                Por favor, ingrese un precio.
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputImagen" class="form-label">Url de la imagen</label>
              <input type="text" class="form-control" id="inputImagen" placeholder="Url donde esta almacenada la imagen" required>
              <div class="invalid-feedback">
                Por favor, ingrese una URL de imagen.
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
  </center>
   
 <!-- Archivos JavaScript de Bootstrap -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
   

</html>